doctype html
html
    head
        title Tangelo - Home

        link(href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet")
        link(href="index.css" rel="stylesheet")

        script(src="https://code.jquery.com/jquery-1.11.2.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

        script(src="index.min.js")

    body
        nav.navbar.navbar-default(role="navigation")
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="navbar-collapse")
                    a.navbar-brand Tangelo
                #navbar-collapse.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="false").
                                Resources #[span.caret]
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="https://github.com/Kitware/tangelo" target="_blank") GitHub
                                    a(href="https://github.com/Kitware/tangelo/issues" target="_blank") Issue Tracker
                                    a(href="http://tangelo.readthedocs.org/en/stable" target="_blank") Documentation

        .container
            .jumbotron
                .row
                    .col-md-1(style="width: 12.5%; position: relative; top: -7px")
                        img(src="/image/tangelo.svg" height="106")
                    .col-md-3
                        h1 Tangelo

                h2 A Web Application Platform for Python Programmers

                .row
                    .col-md-10
                        p.
                          #[a(href="http://kitware.com") Kitware] provides
                          custom services supporting Tangelo.  Find out how we
                          can work with you to create tailored web applications
                          that make your data shine.

                    .col-md-2
                        ul.pager.pull-top
                            li: a(href="#") Contact Us
                            li: a.orange(href="#") Learn More

                p.
                  Tangelo makes it easy to create modern, dynamic web applications.
                  With Tangelo, you can use a built-in data service or write simple
                  Python functions to access your data. Our client library,
                  tangelo.js, wraps charts, maps, and other advanced HTML5
                  visualizations for fresh and dynamic applications with minimal
                  code.

                .row
                    .col-md-3
                        .alert.alert-info.text-center
                            p Get Tangelo
                            .spacer
                            a.btn.btn-success(href="http://tangelo.readthedocs.org/en/latest/installation.html" target="_blank") Install

                    .col-md-3
                        .alert.alert-info.text-center
                            p Learn Tangelo
                            .spacer
                            a.btn.btn-success(href="http://tangelo.readthedocs.org/en/latest/tutorials/building-an-app.html" target="_blank") Tutorial

                    .col-md-3
                        .alert.alert-info.text-center
                            p Talk Tangelo
                            .spacer
                            a.btn.btn-success(href="#") Contact Us

                    .col-md-3
                        .alert.alert-info.text-center
                            p Get Support
                            .spacer
                            a.btn.btn-success(href="#") Services
